<% content_for :navigation do %>
  <div id="navigation">
    <div class="navigation-section">
      <span class="navigation-section-title">Project</span>
      <ul>
        <% Region.viewable_by(current_user).each do |region| %>
          <li class="<%= region == @region ? 'current-item' : 'item' %>"><%= link_to region.name, region_path(region) %></li>
        <% end %>
      </ul>
    </div>
    <div class="navigation-section">
      <span class="navigation-section-title">Well</span>
      <ul>
        <% @well.region.wells.each do |well| %>
          <li class="<%= well == @well ? 'current-item' : 'item' %>"><%= link_to well.name, well_path(well) %></li>
        <% end %>
      </ul>
    </div>
    <div class="navigation-section">
      <span class="navigation-section-title">Sample</span>
      <ul>
        <% @sample.well.samples.all.each do |sample| %>
          <li class="<%= sample == @sample ? 'current-item' : 'item' %>"><%= link_to sample.name, sample_path( sample ) %></li>
        <% end %>
      </ul>
    </div>
    <div class="navigation-section">
      <span class="navigation-section-title">Counting</span>
      <ul>
        <% @sample.well.region.countings.each do |counting| %>
          <li class="item"><%= link_to counting.name, counting_sample_occurrences_path(counting, @sample) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
