<%= form_for(@specimen) do |f| %>
  <%= f.error_messages %>
	<fieldset>
		<legend>Species</legend>
		<p>
    <%= f.label :group_id %>
    <%= f.collection_select( :group_id, Group.all, :id, :name ) %>
		</p>
		<p>
    <%= f.label :name %>
    <%= f.text_field :name, :size => Specimen::NAME_SIZE %>
		</p>
		<p>
    <%= f.label :verified %><%= f.check_box :verified %>
		</p>
		<p>
    <%= f.label :description %>
    <%= f.text_area :description,
          :rows => Specimen::DESCRIPTION_ROWS,
          :cols => Specimen::DESCRIPTION_COLS %>
    </p>
    <p>
      <%= f.label :environmental_preferences %>
      <%= f.text_area :environmental_preferences,
            :rows => Specimen::ENVIRONMENTAL_PREFERENCES_ROWS,
            :cols => Specimen::ENVIRONMENTAL_PREFERENCES_COLS %>
    </p>
    <p><%= f.submit 'Commit' %></p>
  </fieldset>
<% end %>



