<%= form_for(@section) do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<legend>Section</legend>
		<p>
		<%= f.label :project_id %>
		<%= f.collection_select :project_id, Project.all, :id, :name %>
		</p>
		<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
		</p>
		<p>
		<%= f.submit 'Save' %>
		</p>
	</fieldset>
<% end %>

