<%= render_title @section.project.name %>
<%= render 'navigation' %>

<% actions = [] %>
<% if @section.manageable_by?( current_user ) %>
	<% actions << ['Add sample', new_section_sample_path( @section )] <<
		['Edit section', edit_section_path( @section )] %>
	<% if @section.samples.empty? %>
		<% actions << ['Delete section', section_path(@section), data: { confirm: 'Are you sure', method: :delete }] %>
	<% end %>
<% end %>
<%= render_actions actions %>
<% content_for :breadcrumb do %>
  <%= link_to bracketize(@section.project.name), project_path(@section.project) %> -
  <%= link_to bracketize(@section.name), section_path(@section) %>
<% end %>
<%= render_heading "Section" %>
<dl class="fields">
	<dt>Section</dt>
	<dd><%= @section.name %></dd>
</dl>
<table>
  <tr>
    <th>Samples</th>
    <th>Description</th>
    <% @countings.each do |counting| %>
      <th><%= counting.name %></th>
    <% end %>
  </tr>
  <% @samples.each do |sample| -%>
    <tr>
			<td><%= link_to sample.name, sample_path(sample) %></td>
      <td><%= sample.description %></td>
      <% @countings.each do |counting| %>
        <td align="center"><%= link_to(@counted_samples.include?([counting.id, sample.id]) ? 'C' : 'X', counting_sample_occurrences_path(counting, sample)) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
