<%= render_title 'Research Users' %>
<%= render 'navigation' %>
<% content_for :breadcrumb do %>
  <%= link_to bracketize(@project.name), project_path(@project) %>
<% end %>
<h1>Research Users</h1>
<ul>
<% show_actions = @project.manageable_by?(current_user) %>
<% @research_participations.each do |research_participation| %>
  <li><%= research_participation.user.name %>
    <% if show_actions && research_participation.user != current_user %>
      <%= link_to 'Remove from research', research_participation_path(research_participation), method: :delete %></li>
    <% end %>
<% end %>
</ul>
<ul>
<% if show_actions %>
  <% @other_users.each do |user| %>
    <li><%= user.name %>
      <%= render partial: 'form',
        locals: { research_participation: ResearchParticipation.new(user_id: user.id, project_id: @project.id) } %>
  <% end %>
<% end %>
</ul>
