<%= render_title 'Login' %>
<% content_for :navigation do %>
  <%= render :partial => 'layouts/navigation', 
      :locals => { :items => user_navigation_for( :login ) } %>
<% end %>
<%= form_for :user do |f| %>
  <div class="form_row">
    <%= f.label :login, 'Login' %>
    <%= f.text_field :login, 
      :size => User::LOGIN_SIZE,
      :maxlength => User::LOGIN_MAX_LENGTH 
    %>
  </div>
  <div class="form_row">
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password,
      :size => User::PASSWORD_SIZE,
      :maxlength => User::PASSWORD_MAX_LENGTH 
    %>
  </div>
  <div class="form_row">
    <%= f.submit "Login" %>
  </div>
<% end %>
