<% content_for :navigation do %>
  <div id="navigation">
    <div class="navigation-section">
      <span class="navigation-section-title">Section</span>
      <ul>
        <% @sample.section.project.sections.each do |section| %>
          <li class="<%= section == @section ? 'current-item' : 'item' %>"><%= link_to section.name, section_path(section) %></li>
        <% end %>
      </ul>
    </div>
    <div class="navigation-section">
    <span class="navigation-section-title">Sample</span>
    <ul>
      <% @sample.section.samples.all.each do |sample| %>
        <li class="<%= sample == @sample ? 'current-item' : 'item' %>">
          <%= link_to sample.name, counting_sample_occurrences_path(@counting, sample) %>
        </li>
      <% end %>
    </ul></div>
    <div class="navigation-section">
      <span class="navigation-section-title">Counting</span>
      <ul>
        <% @counting.project.countings.each do |counting| %>
          <li class="<%= counting == @counting ? 'current-item' : 'item' %>"><%= link_to counting.name, counting_sample_occurrences_path(counting, @sample) %></li>
        <% end %>
      </ul></div>
  </div>
<% end %>
