<tr id='<%= "occurrence_#{occurrence.id}" %>'>
	<td class="reference-id"><%= occurrence.id %></td>
  <td>
    <input type="button" value="^" class="move-up"/>
  </td>
  <td>
  <%= occurrence.specimen.name %>
  </td>
  <td>
  (<%= occurrence.specimen.group.name %>)
  </td>
  <td>
		<span class="reference-id"><%= occurrence.id %></span>
    <input type="button" value="  -  " class="decrease-one">
  </td>
  <td>
		<span class="reference-id"><%= occurrence.id %></span>
    <input type="button" value="  +  " class="increase-one">
  </td>
  <td align="center">
    <span class="reference-id"><%= occurrence.id %></span>
    <input id="occurrence-quantity-<%= occurrence.id %>"  type="text" size="4" readonly="readonly" class="self-updateable" value="<%= occurrence.quantity %>" /> 
  </td>
	<td>
    <span class="reference-id"><%= occurrence.id %></span>
    <%= select_tag "occurrence-status-#{occurrence.id}",
      options_for_select( Occurrence::STATUSES.invert, occurrence.status ), :class => 'occurrence-status' %>
	</td>
	<td>
    <span class="reference-id"><%= occurrence.id %></span>
    <%= check_box_tag "occurrence-uncertain-#{occurrence.id}", '1', occurrence.uncertain?, :class => 'occurrence-uncertain' %>
	</td>
  <td>
    <%= button_to 'Remove', { :controller => :occurrences, :action => :destroy, :id => occurrence.id }, 
			:method => :delete, :onclick => "return confirm('Are you sure?')" %>
  </td>
</tr>

