<%= render_title @region.name %>
<%= render 'navigation' %>

<% actions = [] %>
<% if @region.manageable_by?(current_user) %>
	<% actions << ['Add section', new_region_section_path(@region)] <<
    ['Add counting', new_region_counting_path(@region)] <<
    ['Add researcher', new_region_research_participation_path(@region.id)] %>
	<% actions << ['Edit region', edit_region_path(@region)] %>
	<% if @region.sections.empty? %>
		<% actions << ['Delete region', region_path(@region), { confirm: 'Are you sure', method: :delete }] %>
	<% end %>
<% end %>
<%= render_actions actions %>
<%= render_heading 'Project' %>

<dl class="fields">
	<dt>Name</dt>
	<dd><%= @region.name %></dd>
</dl>

<table>
  <tr>
    <th>Sections</th>
    <th>Countings</th>
    <th>Researchers</th>
  </tr>
  <tr>
    <td>
      <ul>
      <% @region.sections.each do |section| %>
        <li><%= link_to section.name, section_path(section) %>
      <% end %>
      </ul>
    </td>
    <td>
      <ul>
      <% @region.countings.each do |counting| %>
        <li><%= link_to counting.name, counting_path(counting) %>
      <% end %>
      </ul>
    </td>
    <td>
      <ul>
      <% @region.research_participations.each do |participation| %>
        <li><%= link_to participation.user.name, research_participation_path(participation) %>
      <% end %>
      </ul>
    </td>
  </tr>
</table>
