<script type="text/javascript">
	option_tag = function( value, text ) {
		return $( "<option></option>" ).attr({ value: value }).append( text );
	};
	populate_section_tag = function( section_tag, sample_tag, parent_id ) {
    section_tag.empty();
    sample_tag.empty();
    if( parent_id != '' ) {
      $.get( "/sections.json", { project_id: parent_id }, function( sections ) {
        for( i in sections ) {
          section_tag.append( option_tag( sections[i].id, sections[i].name ) );
        }
        var section_id = section_tag.select( "option:selected" ).val();
        if( section_id != '' ) {
          populate_sample_tag( sample_tag, section_id );
        }
      });
    } else {
      sample_tag.append( option_tag( '', '' ) );
    }
	};

  populate_sample_tag = function( sample_tag, section_id ) {
    sample_tag.empty();
    if( section_id != '' ) {
      $.get( '/samples.json', { section_id: section_id }, function( samples ) {
        for( i in samples ) {
          sample_tag.append( option_tag( samples[i].id, samples[i].name ) );
        }
      });
    } else {
      sample_tag.append( option_tag( '', '' ) );
    }
  };

  populate_specimen_tag = function( specimen_tag, group_id ) {
    specimen_tag.empty();
    $.get( '/specimens.json', { group_id: group_id }, function( specimens ) {
      if( specimens.length == 0 ) {
        specimen_tag.append( option_tag( '', '' ) );
      }
      for( i in specimens ) {
        specimen_tag.append( option_tag( specimens[i].id, specimens[i].name ) );
      }
    });
  };

	$( function () {
      var project_tag = $( "#project_id" );
      var section_tag = $( "#section_id" );
      var sample_tag = $( "#image_sample_id" );
      var group_tag = $( "#group_id" );
      var specimen_tag = $( "#image_specimen_id" );
      <% if @image.specimen.nil? %>
        populate_specimen_tag( specimen_tag, group_tag.select( "option:selected" ).val() );
      <% end %>
      group_tag.change( function() {
        populate_specimen_tag( specimen_tag, group_tag.select( "option:selected" ).val() );
      });
      project_tag.change( function() {
        populate_section_tag( section_tag, sample_tag, project_tag.select( "option:selected" ).val() );
      });
      section_tag.change( function() {
        populate_sample_tag( sample_tag, section_tag.select( "option:selected" ).val() );
      });
	});
</script>

<%= form_for( @image, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>
	<fieldset>
		<legend>Image</legend>
  <% if @image.new_record? %>
    <%= f.hidden_field :specimen_id %>
		<p>
      <%= f.file_field :image  %>
    </p>
  <% else %>
		<p>
      <%= f.label :image %>
      <%= image_tag @image.image.url( :thumb ) %>
    </p>
    <% unless @image.specimen.nil? %>
      <p>
      <%= label_tag :group_id %>
      <%= select_tag :group_id, options_from_collection_for_select( Group.all, :id, :name, @image.specimen.group_id ) %>
      </p>
      <p>
        <%= f.label :specimen_id, 'Species' %>
        <%= f.collection_select( :specimen_id, Specimen.order( 'name asc' ), :id, :name ) %>
      </p>
    <% else %>
      <p>
      <%= label_tag :group_id %>
      <%= select_tag :group_id, options_from_collection_for_select( Group.all, :id, :name ) %>
      </p>
      <p>
        <%= f.label :specimen_id, 'Species' %>
        <%= f.collection_select( :specimen_id, [], :id, :name ) %>
      </p>
    <% end %>
  <% end %>
  <% unless @image.sample.nil? %>
    <p>
    <%= label_tag :project_id %>
    <%= select_tag :project_id, options_from_collection_for_select( Project.all, :id, :name, @image.sample.section.project_id ),
      {:include_blank => true} %>
    </p>
    <p>
    <%= label_tag :section_id %>
    <%= select_tag :section_id, options_from_collection_for_select( @image.sample.section.project.sections, :id, :name, @image.sample.section_id ) %>
    </p>
    <p>
      <%= f.label :sample_id %>
      <%= f.collection_select :sample_id, @image.sample.section.samples, :id, :name  %>
    </p>
  <% else %>
    <p>
    <%= label_tag :project_id %>
    <%= select_tag :project_id, options_from_collection_for_select( Project.all, :id, :name ), {:include_blank => true} %>
    </p>
    <p>
    <%= label_tag :section_id %>
    <%= select_tag :section_id, [] %>
    </p>
    <p>
      <%= f.label :sample_id %>
      <%= f.collection_select :sample_id, [], :id, :name %>
    </p>
  <% end %>
	<p>
    <%= f.label :ef, 'EF' %>
    <%= f.text_field :ef, :size => Image::EF_MAX_LENGTH, :maxlength => Image::EF_MAX_LENGTH %>
  </p>
	<p><%= f.submit 'Commit' %></p>
</fieldset>
<% end %>

