<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>PaleoLog - <%= yield :head %></title>
  <!--
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
  -->
  <%= javascript_include_tag '/js/jquery.min.js' %>
  <%= javascript_include_tag '/js/jquery-ui.min.js' %>
  <%= javascript_include_tag '/js/jquery-migrate.min.js' %>


  <%= javascript_include_tag '/js/rails.js' %>
  <%= javascript_include_tag '/js/application.js' %>
  <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!--
  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
  -->
  <%= stylesheet_link_tag '/css/ui-lightness/jquery-ui.min.css'%>


  <%= stylesheet_link_tag '/css/application.css'%>
	<%= csrf_meta_tag %>
</head>
<body>
<div id="body">
  <div id="page">
    <div id="header"><span id="main-header"><a href="<%= root_url %>">PaleoLog</a></span></div>
    <div id="menu">
      <div id="main-menu">
        <ul>
        <% unless @logged_user.nil? -%>
          <li><%= link_to 'Users', users_url if current_user.admin? %></li>
          <li><%= link_to "Logout (#{@logged_user.name})", logout_url %></li>
        <% else -%>
          <li><%= link_to 'Login', show_login_url %></li>
        <% end -%>
        </ul>
      </div>
    <% if current_user? %>
      <div id="account-menu">
        <ul>
          <li class="<%= controller_name.in?(%w(specimens images)) ? 'current' : 'other' %>"><%= link_to 'Species', specimens_url %></li>
          <li class="<%= controller_name.in?(%w(projects sections samples countings occurrences)) ? 'current' : 'other' %>"><%= link_to 'Projects', projects_url %></li>
          <li class="<%= controller_name.in?(%w(comments)) ? 'current' : 'other' %>"><%= link_to 'Activities', comments_url %></li>
          <li class="<%= controller_name.in?(%w(reports)) ? 'current' : 'other' %>"><%= link_to "Reports", new_report_url %></li>
        </ul>
      </div>
    <% end %>
    </div>
    <div id="content">
      <p><strong><%= yield :breadcrumb %></strong></p>
      <h1><%= yield :title %></h1>
      <% if current_user? -%>
        <%= yield :actions %>
      <% end -%>
      <%= yield :navigation %>
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
